---
import { type Artwork } from '@/constants/artworks';
import type { CollectionEntry } from 'astro:content';
import ArtworkDisplayHeader from './ArtworkDisplayHeader.astro';
import ArtworkDisplayVideo from './ArtworkDisplayVideo.astro';
import ArtworkInfoPanel from './ArtworkInfoPanel.astro';

interface Props {
	artwork: Artwork;
	artworkContent?: any;
	className?: string;
}

const { artwork, artworkContent, className } = Astro.props;
---

<section class={`flex flex-col ${className}`}>
	<ArtworkDisplayHeader
		artwork={artwork}
		fullscreenTargetId="artwork-display"
	/>
	<div class="group relative flex-1" id="artwork-display-wrapper">
		<div class="absolute inset-0 flex overflow-clip rounded-xl border border-lines">
			<div
				class="relative h-full overflow-clip transition-transform duration-600 w-full min-w-full group-[.info-open]:-translate-x-60 sm:group-[.info-open]:-translate-x-80"
				
			>
				<div class="w-[100vw] h-full relative group-[.info-open]:translate-x-30 sm:group-[.info-open]:translate-x-40 transition-transform duration-500">
					<div id="artwork-display">
						
					<!-- <img src="/poster.jpg" class="absolute inset-0 w-full h-full object-cover" /> -->
					{
						artwork.metadata.type === 'interactive' && (
							<iframe
								src={artwork.metadata.url}
								class="absolute h-full w-full"
							/>
						)
					}
					{
						artwork.metadata.type === 'video' && (
							<ArtworkDisplayVideo
								metadata={artwork.metadata}
								title={artwork.title}
							/>
						)
					}
					</div>
				</div>
			</div>
			<div
				class="w-[80vw] max-w-100 h-full translate-x-full group-[.info-open]:translate-x-0 transition-transform duration-400 absolute right-0 top-0"
			>
				<ArtworkInfoPanel artwork={artwork} artworkContent={artworkContent} />
			</div>
		</div>
	</div>
</section>
<script>
	(function () {
		const infoToggleButtons =
			document.querySelectorAll('[data-info-toggle]');
		const artworkDisplayWrapper = document.querySelector(
			'#artwork-display-wrapper'
		);
		infoToggleButtons.forEach((infoToggleButton) => {
			infoToggleButton.addEventListener('click', () => {
				artworkDisplayWrapper?.classList.toggle('info-open');
				infoToggleButtons.forEach((btn) => {
					const activeClass =
						btn.getAttribute('data-info-toggle-active-class') ||
						'active';
					btn.classList.toggle(
						activeClass,
						artworkDisplayWrapper?.classList.contains(
							'info-open'
						) || false
					);
				});
			});
		});
	})();
</script>
