---
import { type Artwork } from '@/constants/artworks';
import ArtworkDisplayHeader from './ArtworkDisplayHeader.astro';
import ArtworkDisplayVideo from './ArtworkDisplayVideo.astro';

interface Props {
	artwork: Artwork;
	className?: string;
}

const { artwork, className } = Astro.props;
---

<section class={`flex flex-col ${className}`}>
	<ArtworkDisplayHeader
		artwork={artwork}
		fullscreenTargetId="artwork-display"
	/>
	<div class="group relative flex-1" id="artwork-display-wrapper">
		<div class="absolute inset-0 flex gap-3 overflow-clip rounded-xl">
			<div
				class="relative h-full min-w-full overflow-clip rounded-xl bg-black transition-all duration-300 group-[.info-open]:min-w-6/8"
				id="artwork-display"
			>
				<!-- <img src="/poster.jpg" class="absolute inset-0 w-full h-full object-cover" /> -->
				{
					artwork.metadata.type === 'interactive' && (
						<iframe
							src={artwork.metadata.url}
							class="absolute h-full w-full"
						/>
					)
				}
				{
					artwork.metadata.type === 'video' && (
						<ArtworkDisplayVideo
							metadata={artwork.metadata}
							title={artwork.title}
						/>
					)
				}
			</div>
			<div
				class="border-lines h-full w-2/8 rounded-xl border bg-neutral-200 px-4 py-8"
			>
				Hola
			</div>
		</div>
	</div>
</section>
<script>
	(function () {
		const infoToggleButtons =
			document.querySelectorAll('[data-info-toggle]');
		const artworkDisplayWrapper = document.querySelector(
			'#artwork-display-wrapper'
		);
		infoToggleButtons.forEach((infoToggleButton) => {
			infoToggleButton.addEventListener('click', () => {
				artworkDisplayWrapper?.classList.toggle('info-open');
				infoToggleButtons.forEach((btn) => {
					const activeClass =
						btn.getAttribute('data-info-toggle-active-class') ||
						'active';
					btn.classList.toggle(
						activeClass,
						artworkDisplayWrapper?.classList.contains(
							'info-open'
						) || false
					);
				});
			});
		});
	})();
</script>
