---
import Cursor from '@/components/interactive/cursor/Cursor.astro';
import '@/styles/global.css';

interface Props {
	title?: string;
	description?: string;
	image?: string;
	author?: string;
}

const {
	title = 'Labias',
	description = '',
	image = 'poster.jpg',
	author = '',
} = Astro.props;

const siteTitle = `${title}${!!title ? ' | ' : ''}Labias + TheWrong Biennale`;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const imageUrl = new URL(image, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />

		<!-- SEO -->
		<title>{siteTitle}</title>
		<meta name="description" content={description} />
		<meta name="author" content={author} />

		<!-- Open Graph -->
		<meta property="og:title" content={siteTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalUrl} />
		<meta property="og:image" content={imageUrl} />
		<meta property="og:type" content="website" />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={siteTitle} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={imageUrl} />
		<meta name="twitter:url" content={canonicalUrl} />
	</head>
	<body>
		<slot />
		
	</body>
</html>
